/* ================================================
 * Reset
 * ================================================ */

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-size: 62.5%; 
    /* 
        62.5% de 16px(taille de police par default des navigateurs) = 10px 
        donc maintenant 1rem = 10px ;) c est plus simple pour tout 
    */
}

body {
    text-align: center;
    font-size: 1.6rem;
    /* Noir */
    background-color: #000;
    /* alternative color Noir gris */
    /* background-color: #2e3131; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #fff;
}
a:hover {
    color: #aaa;
    text-decoration: none;
}
a:focus {
    outline: none;
    text-decoration: none;
    color: inherit!important;
}

label {
    font-size: 1.6rem;
    color: #9e9e9e;
}
.loginPage .input-field label,
.resetPassPage .input-field label {
    top: -2px!important;
    left: 20px!important;
    font-size: 1.2rem!important;
}
.loginPage input:not([type]), 
.loginPage input[type=text]:not(.browser-default), 
.loginPage input[type=password]:not(.browser-default), 
.loginPage input[type=email]:not(.browser-default), 
.loginPage input[type=url]:not(.browser-default), 
.loginPage input[type=time]:not(.browser-default), 
.loginPage input[type=date]:not(.browser-default), 
.loginPage input[type=datetime]:not(.browser-default), 
.loginPage input[type=datetime-local]:not(.browser-default), 
.loginPage input[type=tel]:not(.browser-default), 
.loginPage input[type=number]:not(.browser-default), 
.loginPage input[type=search]:not(.browser-default), 
.loginPage textarea.materialize-textarea 
.resetPassPage input:not([type]), 
.resetPassPage input[type=text]:not(.browser-default), 
.resetPassPage input[type=password]:not(.browser-default), 
.resetPassPage input[type=email]:not(.browser-default), 
.resetPassPage input[type=url]:not(.browser-default), 
.resetPassPage input[type=time]:not(.browser-default), 
.resetPassPage input[type=date]:not(.browser-default), 
.resetPassPage input[type=datetime]:not(.browser-default), 
.resetPassPage input[type=datetime-local]:not(.browser-default), 
.resetPassPage input[type=tel]:not(.browser-default), 
.resetPassPage input[type=number]:not(.browser-default), 
.resetPassPage input[type=search]:not(.browser-default), 
.resetPassPage textarea.materialize-textarea 
{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1.6rem;
    margin: 0 0 20px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-group button {
    background-color: #fff;
    border-color: #ddd;
    color: #000;
    padding: 6px 12px;
    margin-top: 0.6rem;
    cursor: pointer;
    float: left;
    font-size: 14px;
    line-height: 1.6;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
.btn-group button:first-child {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.btn-group button:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.downloadList {
    padding: 0;
    margin-right: 2rem;
}
.downloadList a {
    padding: 1rem 3rem;
}
.downloadList a:hover {
    color: #fff;
}
.downloadList .fa-file-excel-o {
    line-height: initial;
    font-size: 1.8rem;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3097D1;
    border-color: #3097D1;
}

/* ================================================
 * Menu Mobile :
 * ================================================ */
@media all and (min-width: 992px){
    .sidenav {
        display: none;
    }
}

/* ================================================
 * Helper :
 * ================================================ */
.disabled {
    cursor: no-drop;
    color: gray;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    pointer-events: inherit;
}

#toast-container {
    top: 56px !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
}

.m-b-50 {
    margin-bottom: 50px !important;
}

.btn-warning {
    color: #fff!important;
    background-color: #ff3c0e!important;
    border-color: #ff3c0e!important;
}
.btn-warning:active:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(214, 51, 14);
    border-color: rgb(214, 51, 14) !important;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none !important;
}
.btn-warning:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(232, 55, 16);
    border-color: rgb(232, 55, 16) !important;
}
.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover, .open > .dropdown-toggle.btn-warning.focus, .open > .dropdown-toggle.btn-warning:focus, .open > .dropdown-toggle.btn-warning:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(213, 133, 18);
    border-color: rgb(152, 95, 13);
}

.ajoutClientsPage .alert, .homePage .alert, .listeClientsPage .alert, .infosClientsPage .alert, .gestionMailsPage .alert {
    border: none!important;
    border-radius: 4px;
    background-color: transparent!important;
    margin-bottom: 0!important;
    margin-top: 2rem!important;
}
.ajoutClientsPage .alert-success, .homePage .alert-success, .listeClientsPage .alert-success, .infosClientsPage .alert-success, .gestionMailsPage .alert-success {
    color: greenyellow!important;
}
.ajoutClientsPage .alert-danger, .homePage .alert-danger, .listeClientsPage .alert-danger, .infosClientsPage .alert-danger, .gestionMailsPage .alert-danger {
    color: #ff3c0e!important;
} 

.card {
    min-height: 50px;
    position: relative;
    margin-bottom: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.card .header {
    padding: 1rem 0;
    position: relative;
    margin: 0 auto 2rem auto;
}
.card .header h2, .card .header h4 {
    position: relative;
    text-transform: uppercase;
    color: #fff !important;
    font-weight: bolder;
    margin: 0;
    font-size: 18px;
}
.card .header h2:before, .card .header h4:before {
    content: '';
    height: 5px;
    width: 4rem;
    background: #fff;
    border-radius: 4rem;
    position: absolute;
    top: 3.4rem;
    left: 0;
    text-transform: uppercase;
    color: #fff;
}
.card .body {
    background: #FFFFFF;
    padding: 2rem;
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.3);
    font-size: 14px;
    color: #555;
}
.panel-mbook {
    border-color: #E8370D;
}
.panel-mbook > .panel-heading {
    color: #fff;
    background-color: #ff3c0e!important;
}
/* ================================================
 * ERROR :
 * ================================================ */
 /* 419 Invalid token due to inactivity */
.four-one-nine {
    text-align: center;
}

.four-one-nine .four-one-nine-container .error-code {
    margin-top: 10%;
    font-size: 100pt;
}

.four-one-nine .four-one-nine-container .error-message {
    font-size: 15px;
    color: #fff;
    margin-bottom: 6rem;
}
@media screen and (min-width:426px){
    .four-one-nine .four-one-nine-container .error-message {
        font-size: 27px;
    }
}

/* ================================================
 * login et reset password
 * ================================================ */
.loginPage .row:first-of-type img,
.resetPassPage .row:first-of-type img {
    margin: 2rem 0;
    background-color: #000;
    padding: 6rem;
}
@media screen and (max-width:426px){
    .loginPage .row:first-of-type img,
    .resetPassPage .row:first-of-type img {
        margin: 0;
        background-color: #000;
        padding: 6rem 0 4rem;
    }
    .loginPage .input-field label,
    .resetPassPage .input-field label {
        top: -4px!important;
        left: 26px!important;
        font-size: 1.6rem!important;
    }
    .loginPage input:not([type]), 
    .loginPage input[type=text]:not(.browser-default), 
    .loginPage input[type=password]:not(.browser-default), 
    .loginPage input[type=email]:not(.browser-default), 
    .loginPage input[type=url]:not(.browser-default), 
    .loginPage input[type=time]:not(.browser-default), 
    .loginPage input[type=date]:not(.browser-default), 
    .loginPage input[type=datetime]:not(.browser-default), 
    .loginPage input[type=datetime-local]:not(.browser-default), 
    .loginPage input[type=tel]:not(.browser-default), 
    .loginPage input[type=number]:not(.browser-default), 
    .loginPage input[type=search]:not(.browser-default), 
    .loginPage textarea.materialize-textarea 
    .resetPassPage input:not([type]), 
    .resetPassPage input[type=text]:not(.browser-default), 
    .resetPassPage input[type=password]:not(.browser-default), 
    .resetPassPage input[type=email]:not(.browser-default), 
    .resetPassPage input[type=url]:not(.browser-default), 
    .resetPassPage input[type=time]:not(.browser-default), 
    .resetPassPage input[type=date]:not(.browser-default), 
    .resetPassPage input[type=datetime]:not(.browser-default), 
    .resetPassPage input[type=datetime-local]:not(.browser-default), 
    .resetPassPage input[type=tel]:not(.browser-default), 
    .resetPassPage input[type=number]:not(.browser-default), 
    .resetPassPage input[type=search]:not(.browser-default), 
    .resetPassPage textarea.materialize-textarea 
    {
        height: 3.6rem;
        margin: 0rem 0 20px 0;
    }
    .loginPage [type="checkbox"]+label {
        margin-top: 14px;
        padding-left: 35px;
        height: 40px;
        line-height: 22px;
        font-size: 1.6rem;
    }
}
.loginPage [type="checkbox"]:not(:checked), .loginPage [type="checkbox"]:checked {
    position: unset;
    opacity: unset;
    pointer-events: initial;
}

/* ================================================
 * Navbar
 * ================================================ */
nav {
    color: #fff;
    /* Rouge */
    background-color: #ff3c0e!important;
    /* alternative color Rouge */
    /* background-color: #96281b!important; */
    padding-left: 15px;
}
@media all and (min-width: 1024px){
    nav { padding: 0 15px; }
    nav ul a { font-size: 1.6rem; }
    nav .brand-logo { left: 1.5rem; }
    .dropdown-menu-css {
        background-color: #fff;
        margin: 0;
        min-width: 14rem;
        overflow-y: auto;
        position: absolute;
        left: auto;
        right: 0;
        top: 6.4rem;
        z-index: 9999;
        transform-origin: 0 0;
    }
    .menu-on-top {
        padding-right: 2rem!important;
    }
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: inline-block;
    font-size: 24px;
    height: 56px;
    line-height: 56px;
    vertical-align: bottom;
}
.navbar-fixed a:focus, .navbar-fixed a:hover {
    color: #fff;
}
.sidenav-overlay {
    background-color: transparent!important;
    position: inherit!important;
}
.sidenav .user-view {
    padding: 32px 32px 0;
}

/* ================================================
 * homePage 
 * ================================================ */
.homePage article {
    margin-top: 6rem;
    margin-bottom: 0;
    opacity: 0;
}
.homePage article a {
    display: block;
}
.homePage article a i {
    font-size: 12rem;
}
@media all and (max-width:320px){
    .homePage article a i { font-size: 8rem!important; }
    .homePage article a span { margin-top: 1rem!important; }
}
.homePage article a span {
    display: block;
    margin-top: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* ================================================
 * Ajout client - Update client
 * ================================================ */
/* .ajoutClientsPage {
    
} */

.ajoutClientsPage .collapsible-body, .infosClientsPage .collapsible-body {
    padding-bottom: 0;
}
.ajoutClientsPage .input-field label, .infosClientsPage .input-field label {
    top: -10px!important;
    left: 20px!important;
    font-size: 1.6rem!important;
}
.ajoutClientsPage input:not([type]), 
.ajoutClientsPage input[type=text]:not(.browser-default), 
.ajoutClientsPage input[type=password]:not(.browser-default), 
.ajoutClientsPage input[type=email]:not(.browser-default), 
.ajoutClientsPage input[type=url]:not(.browser-default), 
.ajoutClientsPage input[type=time]:not(.browser-default), 
.ajoutClientsPage input[type=date]:not(.browser-default), 
.ajoutClientsPage input[type=datetime]:not(.browser-default), 
.ajoutClientsPage input[type=datetime-local]:not(.browser-default), 
.ajoutClientsPage input[type=tel]:not(.browser-default), 
.ajoutClientsPage input[type=number]:not(.browser-default), 
.ajoutClientsPage input[type=search]:not(.browser-default), 
.ajoutClientsPage textarea.materialize-textarea
.infosClientsPage input:not([type]), 
.infosClientsPage input[type=text]:not(.browser-default), 
.infosClientsPage input[type=password]:not(.browser-default), 
.infosClientsPage input[type=email]:not(.browser-default), 
.infosClientsPage input[type=url]:not(.browser-default), 
.infosClientsPage input[type=time]:not(.browser-default), 
.infosClientsPage input[type=date]:not(.browser-default), 
.infosClientsPage input[type=datetime]:not(.browser-default), 
.infosClientsPage input[type=datetime-local]:not(.browser-default), 
.infosClientsPage input[type=tel]:not(.browser-default), 
.infosClientsPage input[type=number]:not(.browser-default), 
.infosClientsPage input[type=search]:not(.browser-default), 
.infosClientsPage textarea.materialize-textarea
{
    font-size: 1.6rem;
}
.ajoutClientsPage .collapsible-header, .infosClientsPage .collapsible-header {
    background-color: transparent;
    color: #fff;
}
.ajoutClientsPage .collapsible-body, .infosClientsPage .collapsible-body {
    background-color: #333!important;
    color: #fff;
}
.ajoutClientsPage button, .infosClientsPage button {
    width: 100%;
    margin-top: 2rem;
    font-size: x-small;
    font-weight: bold;
    padding-top: 1rem;
}
.ajoutClientsPage button i, .infosClientsPage button i {
    margin-top: -4px;
}
.ajoutClientsPage sup, .infosClientsPage sup {
    color: #ff3c0e;
    font-weight: bold;
    font-size: 2rem;
    top: -.1em;
}
/* .ajoutClientsPage .checkboxLang [type="checkbox"]+label, .ajoutClientsPage .checkboxShow [type="checkbox"]+label {
    font-size: 1.6rem!important;
} */
.ajoutClientsPage .checkboxLang .card, .ajoutClientsPage .checkboxShow .card,
.infosClientsPage .checkboxLang .card, .infosClientsPage .checkboxShow .card {
    background-color: rgba(0,0,0,0.87);
    color: #fff;
    border: 1px solid #bbb;
}
.ajoutClientsPage .checkboxLang .card .header, .ajoutClientsPage .checkboxShow .card .header,
.infosClientsPage .checkboxLang .card .header, .infosClientsPage .checkboxShow .card .header {
    border-bottom: 1px solid #bbb;
    padding: 1rem;
}
.ajoutClientsPage .checkboxLang .card .body, .ajoutClientsPage .checkboxShow .card .body,
.infosClientsPage .checkboxLang .card .body, .infosClientsPage .checkboxShow .card .body {
    padding: 2rem 2rem 0 2rem;
    text-align: left;
}
.ajoutClientsPage [type="checkbox"]:not(:checked), .ajoutClientsPage [type="checkbox"]:checked,
.infosClientsPage [type="checkbox"]:not(:checked), .infosClientsPage [type="checkbox"]:checked {
    position: unset;
    opacity: 0!important;
    pointer-events: none;
}

@media all and (min-width: 321px){
    .ajoutClientsPage button, .infosClientsPage button {
        width: 100%;
        margin-top: 2rem;
        font-size: small;
        font-weight: bold;
        padding-top: unset;
        line-height: 2.6;
    }
    .ajoutClientsPage button i, .infosClientsPage button i {
        margin-top: unset;
    }
}
@media all and (max-width: 426px){
    /* .ajoutClientsPage input:not([type]), 
    .ajoutClientsPage input[type=text]:not(.browser-default), 
    .ajoutClientsPage input[type=password]:not(.browser-default), 
    .ajoutClientsPage input[type=email]:not(.browser-default), 
    .ajoutClientsPage input[type=url]:not(.browser-default), 
    .ajoutClientsPage input[type=time]:not(.browser-default), 
    .ajoutClientsPage input[type=date]:not(.browser-default), 
    .ajoutClientsPage input[type=datetime]:not(.browser-default), 
    .ajoutClientsPage input[type=datetime-local]:not(.browser-default), 
    .ajoutClientsPage input[type=tel]:not(.browser-default), 
    .ajoutClientsPage input[type=number]:not(.browser-default), 
    .ajoutClientsPage input[type=search]:not(.browser-default), 
    .ajoutClientsPage textarea.materialize-textarea
    {
        display: -webkit-box;
    } */
    .ajoutClientsPage .input-field label, .infosClientsPage .input-field label {
        top: -12px!important;
        left: 18px!important;
        font-size: 1.6rem!important;
    }
}
@media all and (min-width: 768px){
    .ajoutClientsPage button {
        width: 49.5%;
    }
}

/* ================================================
 * Liste client
 * ================================================ */
 .wrapper {
    position: absolute;
    width: 200px;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    color: #fff;
  }
  
  .loader {
    height: 100%;
    display: flex;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  .loader div {
    flex: 1;
    background: salmon;
    -webkit-animation: go 0.8s infinite alternate ease;
            animation: go 0.8s infinite alternate ease;
    box-shadow: 0 0 20px salmon;
  }
  .loader div:nth-child(1) {
    -webkit-animation-delay: -0.72s;
            animation-delay: -0.72s;
  }
  .loader div:nth-child(2) {
    -webkit-animation-delay: -0.64s;
            animation-delay: -0.64s;
  }
  .loader div:nth-child(3) {
    -webkit-animation-delay: -0.56s;
            animation-delay: -0.56s;
  }
  .loader div:nth-child(4) {
    -webkit-animation-delay: -0.48s;
            animation-delay: -0.48s;
  }
  .loader div:nth-child(5) {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
  }
  .loader div:nth-child(6) {
    -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
  }
  .loader div:nth-child(7) {
    -webkit-animation-delay: -0.24s;
            animation-delay: -0.24s;
  }
  .loader div:nth-child(8) {
    -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
  }
  .loader div:nth-child(9) {
    -webkit-animation-delay: -0.08s;
            animation-delay: -0.08s;
  }
  .loader div:nth-child(10) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  
  @-webkit-keyframes go {
    100% {
      background: transparent;
      flex: 10;
      box-shadow: 0 0 0 transparent;
    }
  }
  
  @keyframes go {
    100% {
      background: transparent;
      flex: 10;
      box-shadow: 0 0 0 transparent;
    }
  }

.listeClientsPage {
    /* opacity: 0; */
    display: none;
    margin-bottom: 4rem;
    margin-top: 1rem;
}
.listeClientsPage .dataTables_paginate, .statsPage .dataTables_paginate {
    text-align: center!important;
}
.listeClientsPage .dataTables_paginate .pagination, .statsPage .dataTables_paginate .pagination {
    width: initial!important;
}
.listeClientsPage .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #000!important;
}
.pagination>li>a, .pagination>li>span {
    color: #000!important;
}
.listeClientsPage #example_wrapper {
    margin-bottom: 3rem;
}
.listeClientsPage table.dataTable {
    background-color: #fff!important;
}
.listeClientsPage div.dataTables_wrapper div.dataTables_filter input, .listeClientsPage div.dataTables_wrapper div.dataTables_info {
    color: #fff;
}
.listeClientsPage .fa-edit-td {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}
.listeClientsPage .fa-edit-td a {
    color: #9e9e9e!important;
}

/* ================================================
 * Update client
 * ================================================ */
@media all and (min-width: 768px){
    .infosClientsPage button {
        width: 32.8%;
    }
}
.infosClientsPage .materialize-textarea, .ajoutClientsPage .materialize-textarea {
    height: 80px!important;
}
.infosClientsPage .modal {
    background-color: transparent!important;
}
.infosClientsPage .formAddEditTwo {
    margin-top: 0!important;
    margin-left: 0!important;
}

/* ================================================
 * Mails 
 * ================================================ */
.gestionMailsPage .listeMails {
    color: #fff;
    height: 35rem!important;
    overflow-y: scroll;
    background-color: #000!important;
    border: 1px solid #fff;
}
.gestionMailsPage .bloc-entete {
    margin: 0;
    color: #000;
    background-color: #fff;
    padding: 1rem 1rem 0;
}
.gestionMailsPage .collapsible-header-total-client {
    text-align: left;
    padding: 1rem;
}
.gestionMailsPage .collapsible-header-total-client i {
    vertical-align: text-bottom;
    padding-right: 1rem;
}
.gestionMailsPage .collapsible-header-autocomplete {
    padding: 0 1rem 0 0;
}
.gestionMailsPage table {
    color: #fff!important;
}
.gestionMailsPage .collapsible-body {
    padding: 0!important;
    overflow-y: scroll;
}
.gestionMailsPage .mailName {
    font-weight: bold;
    color: #f00;
    font-size: smaller;
}
.gestionMailsPage .subjectBloc input, .gestionMailsPage .subjectBloc label, .gestionMailsPage .subjectBloc .fa {
    margin-top: 1rem;
} 
.gestionMailsPage .subjectBloc {
    color: #fff;
}
.gestionMailsPage .mailVerificationDisabled {
    cursor: no-drop;
}
.gestionMailsPage #spamRepport .modal-content {
    background-color: #000!important;
    border: 1px solid #fff;
    color: #fff;
}
.gestionMailsPage #spamRepport .modal-header {
    border-bottom: none;
}
.gestionMailsPage #spamRepport .modal-header .close {
    color: #fff;
    opacity: initial;
    z-index: 100;
    position: absolute;
    right: 0;
}
.gestionMailsPage #spamRepport .modal-footer {
    background-color: transparent;
}
.gestionMailsPage #spamRepport .btn-default {
    vertical-align: top;
}
.gestionMailsPage #spamRepport .modal-title span strong {
    color: #f00;
}

/* ================================================
 * Stats
 * ================================================ */
.statsPage {
    opacity: 0;
}
.statsPage .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #000!important;
}
.pagination>li>a, .pagination>li>span {
    color: #000!important;
}
.statsPage table.dataTable {
    background-color: #fff!important;
}
.statsPage div.dataTables_wrapper div.dataTables_filter input, .statsPage div.dataTables_wrapper div.dataTables_info {
    color: #fff;
}
.statsPage .mail-ico, .statsPage .mail-text {
    display: inline-block;
}
.statsPage .mail-ico {
    padding: inherit;
    vertical-align: top;
}
.statsPage .mail-icon {
    background-color: red;
    color: #fff;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    text-align: center;
    padding-top: 1rem;
}
.statsPage .mail-text {
    font-size: 1.4rem;
}
.statsPage .mail-text a {
    color: inherit!important;
}
.statsPage .mail-text div:first-of-type {
    font-weight: bold;
}
.statsPage .mail-text div:nth-child(3){
    color: #aaa;
}
.statsPage .fa-edit-td {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    width: 10%;
}
.statsPage .fa-edit-td a {
    color: #9e9e9e!important;
}
.statsPage .mail-date {
    color: #15c;
    font-size: 12px;
    font-weight: 100;
}
.statsPage .mail-nbr-client {
    font-size: 14px;
    border: 1px solid #ff3c0e!important;
    padding: 0.2rem 0;
    color: #ff3c0e!important;
    margin-top: 0.5rem;
}

/* ================================================
 * Stats Page detail mail
 * ================================================ */
.statsMailDetail {
    color: #fff;
}
@media all and (max-width: 768px){
    .statsMailDetail .card .header h2:before, .statsMailDetail .card .header h4:before {
        top: 6.4rem;
    }
}
.statsMailDetail .navigateBeforeHeader i {
    font-weight: bold;
    font-size: 3rem;
}
.statsMailDetail .navigateBeforeHeader span {
    vertical-align: super;
}
.statsMailDetail .mail-show-progress{
    height: 39rem;
    background-color: #f9f9f9;
    padding: 0;
    overflow-y: hidden;
    font-size: 1.4rem!important;
}
.statsMailDetail .mail-show-progress-header {
    color: #000;
    padding: 1rem;
    margin-bottom: 0;
    text-align: left;
    font-weight: bold;
}
.statsMailDetail .progress {
    height: .8rem;
}
.statsMailDetail .bloc-detail-report {
    color: #000;
    background-color: #fff;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
    height: 14rem;
    font-weight: bold;
}
.statsMailDetail .bloc-detail-report i {
    font-size: 3rem;
}
.statsMailDetail .spam-score {
    font-size: 2.6rem;
}
.statsMailDetail .bloc-detail-report span {
    background-color: #546e7a;
    height: .4rem;
    width: 8rem;
    border-radius: .4rem;
    display: inline-block;
    margin: .5rem 0;
}
.statsMailDetail .bloc-detail-report p {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #000;
}
.statsMailDetail table {
    max-height: 32rem;
    border: 1px solid #fff;
    overflow-y: scroll!important;
    background-color: #f9f9f9;
    display: block;
}
.statsMailDetail table tr {
    width: 100%;
}
.statsMailDetail table td {
    text-align: center;
    width: inherit;
}
.statsMailDetail .send-not-ok {
    font-weight: bold;
    color: red;
}
.statsMailDetail .send-in-progress {
    font-weight: bold;
    color: orange;
}
.statsMailDetail .send-ok {
    font-weight: bold;
    color: limegreen;
}
.statsMailDetail .bloc-show-message {
    margin: 0!important;
    margin-bottom: 3rem!important;
    height: 56rem;
}
.statsMailDetail .bloc-show-message .card-content {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}
.statsMailDetail .bloc-show-message .card-content .card-title {
    margin-bottom: 0;
    font-size: 1.6rem;
}
.statsMailDetail .bloc-info-message {
    padding: .5rem 2.4rem;
    font-size: 1.4rem;
}
.statsMailDetail .bloc-show-mail-message {
    padding: 2.2rem 0;
}
.statsMailDetail .card-action iframe {
    width: 100%;
    height: 38rem;
}

/**
 * TEST CSS :
 */
.configPage .menuConfigPage {
    margin-top: 2rem;
}